{% extends "base.html.twig" %}
{% block body %}
    <div class="row">
        <div class="col-2 font-smaller">
            Having fun are we? Here's what we have so far:<br>
            {% if notUsed > 0 %}
            <h5>To be installed</h5>
                <a class="btn btn-info btn-sm" href="{{ path('load_all') }}" role="button">Load {{ notUsed }} files</a>
            {% endif %}
            <p><a class="btn btn-info btn-sm" href="{{ path('models') }}" role="button">View our models found</a></p>
            <p><a class="btn btn-info btn-sm" href="{{ path('model_index') }}" role="button">Model list</a></p>
        </div>
        <div class="col-9 text-center">
            <div class="row">
                <div class="col-3"></div>
                <div class="col-3">
                    <span id="currentChart" data-chart="0"></span>
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li class="page-item">
                                <a id="chartPrevious" class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo; Chart</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a id="chartNext" class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">Chart &raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>            
            </div>
            <div class="row">
                <div class="col-12">
                    <div id="chartA"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    {{ encore_entry_script_tags('charts') }}
{% endblock %}
