{% extends "base.html.twig" %}
{% block body %}
    <div class="row">
        <div class="col-3 font-smaller">
            Having fun are we? Here's what we have so far:<br>
            <h5>To be installed</h5>
            {% if notUsed is empty %}
                None
            {% else %}
                <a class="btn btn-info btn-sm" href="{{ path('load_all') }}" role="button">Load all</a>
                {% for filename in notUsed %}
                    <div class="row">
                        <div class="col-3">
                            <a class="btn btn-success btn-sm" href="{{ path('import_file', {'filename':filename}) }}" role="button">{{ filename }}</a>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            <h5>Installed (last 10)</h5>
            {% for file in used %}
                <div class="row">
                    <div class="col-3">
                        {{ file.filename }}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-9">
            <button class="btn btn-sm btn-primary mb-3" id="charts" type="button">Change chart</button>  
            <div id="priceC"></div>
            <div id="countC"></div>
            <div id="priceB"></div>
            <div id="countB"></div>
            <div id="histoC"></div>
            <div id="histoB"></div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        {{ gc_draw([priceC, countC, priceB, countB, histoC, histoB], ['priceC', 'countC', 'priceB', 'countB', 'histoC', 'histoB']) }}
    </script>
    {{ encore_entry_script_tags('charts') }}
{% endblock %}
