{% extends "base.html.twig" %}
{% block body %}
    <div class="row">
        <div class="col-4">
            Having fun are we? Here's what we have so far:<br>
            <h5>To be installed</h5>
            {% if notUsed is empty %}
                None
            {% else %}
                <a class="btn btn-info btn-sm" href="{{ path('load_all') }}" role="button">Load all</a>
                {% for filename in notUsed %}
                    <div class="row">
                        <div class="col-3">
                            <a class="btn btn-success btn-sm" href="{{ path('import_file', {'filename':filename}) }}" role="button">{{ filename }}</a>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            <h5>Installed (last 10)</h5>
            {% for file in used %}
                <div class="row">
                    <div class="col-3">
                        {{ file.filename }}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-8">
            <button class="btn btn-sm btn-success mb-3" id="charts" type="button">Change chart</button>  
            <div id="div_chart_c"></div>
            <div id="div_chart_b"></div>
            <div id="div_chart_histo"></div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        {{ gc_draw([rvDataC, rvDataB, rvHisto], ['div_chart_c', 'div_chart_b', 'div_chart_histo']) }}
    </script>
{% endblock %}
