{% extends "base.html.twig" %}
{% block body %}
    <div class="row">
        <div class="col-3 border-bottom border-info">
            Class C
        </div>
        <div class="col-2 border-bottom border-info">
            Price
        </div>
        <div class="col-1"></div>
        <div class="col-4 border-bottom border-info">
            Class B+ (< $60K)
        </div>
        <div class="col-2 border-bottom border-info">
            Price
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            {% for name,rv in classC %}
                <div class="row">
                    <div class="col-6">
                        {{ name }}
                    </div>
                    <div class="col-4">
                        ${{ rv.Avg|number_format }}
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="col-6">
            {% for bee in classB %}
                <div class="row">
                    <div class="col-8">
                        {{ bee.ymm }}
                    </div>
                    <div class="col-4">
                        ${{ bee.price|number_format }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <a href="{{ path('home') }}" class="btn btn-primary  btn-sm">Return</a>
{% endblock %}